
@import "0.lib.less";

html {
    background-image: url(/img/bg-top.jpg),
                      url(/img/bg-bottom.jpg);
    background-position: 50% top,
                          50% bottom;
    background-repeat: no-repeat;
    min-height: 1500px;
}

body {
    color: @test;
}